{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.members) }}
  </dl>
  <p><input type=submit value=Register>
</form>

<table border>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>members (separated by a comma)</th>
    <th>X</th>
  </tr>
    {% for group in groups %}
        <tr>
            <th>{{ group.id }}</th>
            <th>{{ group.name }}</th>
            <th>{{ group.members }}</th>
            <th><a class="button" href="/group/{{group.id}}/delete">delete</a></th>
        </tr>
    {% endfor %}
</table>