{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.teacher) }}
  </dl>
  <p><input type=submit value=Register>
</form>

<table border>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>teacher</th>
    <th>X</th>
  </tr>
    {% for lesson in lessons %}
        <tr>
            <th>{{ lesson.id }}</th>
            <th>{{ lesson.name }}</th>
            <th>{{ lesson.teacher }}</th>
            <th><a class="button" href="/lesson/{{lesson.id}}/delete">delete</a></th>
        </tr>
    {% endfor %}
</table>