<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_formhelpers.html" import render_field %}
	<title>Scheduler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="logo"><h1><a href="http://127.0.0.1:5000">COURSES</a></h1></div>
        <div id="menu_icon"></div>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5000/user">Users</a></li>
                    <li><a href="http://127.0.0.1:5000/room">Rooms</a></li>
                    <li><a href="http://127.0.0.1:5000/lesson">Lessons</a></li>
                    <li><a href="http://127.0.0.1:5000/group">Groups</a></li>
                    <li><a href="http://127.0.0.1:5000/scheduler">Schedulers</a></li>
                </ul>
            </nav>
    </header>
    <section class="main clearfix">
        <section class="top">
            <div class="wrapper content_header clearfix">
                <h1 class="title">Scheduler ({{ date }})</h1>
                </div>
        </section>
        <section class="wrapper">
                <div class="content">

                    <table>
                      <tr>
                        <th>room</th>
                        <th>lesson</th>
                        <th>group</th>
                        <th>para</th>
                      </tr>
                        {% for scheduler in s %}
                            <tr>
                                <td>{{ scheduler.room }}</td>
                                <td>{{ scheduler.lesson }}</td>
                                <td>{{ scheduler.group }}</td>
                                <td>{{ scheduler.para }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                 </div>
        </section>
    </section>
</body>
</html>