<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    {% from "_formhelpers.html" import render_field %}
</head>

<ul id="navbar">
<li><a href='/'>Home</a></li>
<li><a href='/room'>Room</a></li>
<li><a href='/user'>User</a></li>
<li><a href='/lesson'>Lesson</a></li>
<li><a href='/group'>Group</a></li>
<li><a href='/schedule'>Schedule</a></li>
</ul>

<div class="space"><p></p></div>

<div class="table3">
<table>
    <caption>Room</caption>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Capacity</th>
  </tr>
    {% for room in rooms %}
        <tr>
            <td>{{ room.id }}</td>
            <td>{{ room.name }}</td>
            <td>{{ room.capacity }}</td>
        </tr>
    {% endfor %}
</table></div>

<div class="table3"><table>
    <caption>Lesson</caption>
  <tr>
    <th>id</th>
    <th>Name</th>
  </tr>
    {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.id }}</td>
            <td>{{ lesson.name }}</td>
        </tr>
    {% endfor %}
</table></div>

<div class="table3"><table>
    <caption>Group</caption>
  <tr>
    <th>id</th>
    <th>Name</th>
  </tr>
    {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
        </tr>
    {% endfor %}
</table></div>




<div class="newspace"><p></p></div>


<div class="space"><form method=post>
  <dl>
    {{ render_field(schedule_f.room) }}
    {{ render_field(schedule_f.lesson) }}
    {{ render_field(schedule_f.group) }}
    {{ render_field(schedule_f.date) }}
    {{ render_field(schedule_f.para) }}
  </dl>
  <p><input type=submit value=Add>
</form></div>

<table>
    <caption>Schedule</caption>
  <tr>
    <th>id</th>
    <th>Date</th>
    <th>Group</th>
    <th>Para</th>
    <th>Lesson</th>
    <th>Room</th>
    <th>x</th>
    <th>Edit</th>
  </tr>
    {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.id }}</td>
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.group.name }}</td>
            <td>{{ schedule.para }}</td>
            <td>{{ schedule.lesson.name }}</td>
            <td>{{ schedule.room.name }}</td>
            <td><a class="button" href="/schedule/{{schedule.id}}/delete">delete</a></td>
            <td><a class="button" href="/schedule/{{schedule.id}}/update">update</a></td>
        </tr>
    {% endfor %}
</table>

<div class="footer"></div>
</html>
